extends ./layout

block title
	title Отделы
block content
	div
		.container-fluid
			.row
				.col
					h2 Отделы
			.row
				.col
					table.table
						thead
							tr
								th.text-center id
								th.text-center Название
								th.text-center {pen}
						tbody
							- var abolished = departments.filter((department)=>{return department.abolished});
							- var nonAbolished = departments.filter((department)=>{return !department.abolished})
							tr
								form.mb-0(action='/department/new', method='POST')
									td +
									td
										input.form-control(name='name' required)
									td
										button.btn.btn-primary(type='submit') Добавить
							each department in nonAbolished
								tr
									td=department['departmentId']
									td=department['name']
									td
										a(href='/department/'+department.departmentId)
											img(src='/img/pen.svg', height='20px')
							if abolished.length>0
								tr
									td(colspan=2)
										b Упраздненные
								each department in abolished
									tr
										td=department['departmentId']
										td=department['name']
										td
											a(href='/department/'+department.departmentId)
												img(src='/img/pen.svg', height='20px')