extends ./layout

block content
	div
		.container
			a(href="/table") Сводная таблица
			br
			a(href="/workers") Сотрудники
			br
			a(href="/departments") Отделы
			br
			a(href="/positions") Должности
			br
			a(href="/bonuses") Бонусы