html
	head
		block title
			title Прога по БД
		meta(charset="utf8")
		link(rel="stylesheet" href="/css/bootstrap.min.css")
	body
		block content
		script(src="/js/jquery-3.2.1.min.js")
		script(src="/js/popper.min.js")
		script(src="/js/bootstrap.min.js")
