form(method='POST')
    button.btn.btn-primary(type='submit', formaction='/createDB') Создать БД
    button.btn.btn-warning(type='submit', formaction='/dropDB') dropDB
    button.btn.btn-primary(type='submit', formaction='/generateDB') Сгенерировать данные